.authform
	%h3 Sign in

	= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
		= devise_error_messages!

		.form-group
		= f.label :email
		= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email'
		.form-group
		= f.label :password
		= f.password_field :password, class: 'form-control', placeholder: 'Password'
		.form-group
		= f.submit 'Sign in', class: 'button right', style: 'width:100%'

		.form-group
		- if devise_mapping.recoverable?
			= link_to "Forgot password?", new_password_path(resource_name), class: 'right'

		- if devise_mapping.rememberable?
			= f.label :remember_me
			= f.check_box :remember_me